#my-techStack {
}
.infoSkills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.infoSkills > h3 {
  font-weight: 800;
  font-size: 30px;
  color: #42446e;
  margin-bottom: 0.5em;
}
.articleSkills {
  display: flex;
}
.ulSkills {
  width: 100%;
  display: flex;
  margin-top: 5em;
  gap: 4em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ulSkills > li > a > img {
  height: 120px;
  width: 120px;
}
