@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

p {
  color: #666666;
}
body {
  font-family: 'Roboto', sans-serif;
}
body.dark {
  background-color: #191919;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #cccccc;
  }
  a {
    color: #cccccc;
  }
  .articleCard {
    background-color: #363636;
  }
  .ulrrss > li > a > img {
    background-color: #a7a7a7;
    border-radius: 100px;
  }
  .ulrrssFooter > li > a > img {
    background-color: #a7a7a7;
    border-radius: 100px;
  }
  .imgLogo {
    background-color: whitesmoke;
    border-radius: 100px;
    height: 50px;
  }
}
