#Projects {
  margin-top: 5em;
}
.divInfoProject {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3em;
}
.divInfoProject > h3 {
  font-weight: 800;
  font-size: 30px;
  color: #42446e;
  margin-bottom: 0.5em;
}
