#hero {
  margin: 5em;
  margin-top: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 10em;
  margin-bottom: 10em;
}
.divInfo > h1 {
  font-size: 50px;
  white-space: pre-line;
  color: #42446e;
}

.divImg {
  height: 300px;
  min-height: 300px;
}

.divImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid rgb(139, 228, 255);
}
