#header {
  display: flex;
  align-items: center;
  margin: 5em;
  justify-content: space-between;
}
.imgLogo {
  border-radius: 100px;
  height: 50px;
  margin-right: 2em;
}
@media (max-width: 990px) {
  .ulLinks {
    display: none;
  }
}
