#footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 5em;
}
.containerLogoContact {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  padding-bottom: 2em;
  border-bottom: 1px solid grey;
}
.divContactFooter {
  display: flex;
  gap: 2em;
}
.navFooter {
  display: flex;
  justify-content: space-between;
}
.ulLinksFooter {
  display: flex;
  gap: 1em;
}
.ulrrssFooter > li > a {
  display: flex;
  height: 20px;
}
.ulrrssFooter {
  display: flex;
  gap: 1em;
}
