.switch {
  background: #343d5b;
  height: 30px;
  width: 60px;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: none;
  span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
  }
}
.switch::after {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.switch.active {
  background-color: orange;
  color: black;
}
.switch.active::after {
  right: 0;
  left: unset;
}
/*GENERAL DARK*/
body.dark {
  background-color: #191919;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #cccccc;
  }
  a {
    color: #cccccc;
  }
  .articleCard {
    background-color: #363636;
  }
  .ulrrss > li > a > img {
    background-color: #a7a7a7;
    border-radius: 100px;
  }
  .ulrrssFooter > li > a > img {
    background-color: #a7a7a7;
    border-radius: 100px;
  }
  .imgLogo {
    filter: invert(100);
  }
  #buttonHam {
    filter: invert(100);
  }
  .navMenuHam.active {
    background-color: #242424;
  }
  .quitButton {
    filter: invert(100);
  }
}
